.gradient_cat {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

body {
  background: #5c6da6;
}

.main {
  object-fit: fill;
}

@media screen and (max-width: 920px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: block;
  }

  .gradient_cat {
    width: 100px;
    top: -10px;
  }

  .gradient_cat.about {
    width: 60%;
    top: 100%;
  }
}
